.travel {
    padding-bottom: 0.5rem !important;
    .travel-calcCo2 {
        padding: 0.3rem;
        background-color: #827717;
        color: white;
        font-weight: bold;
        border-radius: 50%;
    }
}
